*{
    font-family: 'Spartan' , sans-serif;
    margin: 0%;
}


#restaurant-header {
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: black;
    margin: auto;
    gap: 50px;
    margin-top: 100px;
    /* justify-content: space-around; */
}

#Pastas {
    height: 25vh;
    margin-left: 100px;
    margin-top: 30px;

}

#restaurant-header>div>h1{
    color: white;
}
#restaurant-header p{
    color: white;
}


#para-container {
    display: flex;
    margin-top: 25px;
    /* text-align: center; */
}

#para-container>div>p {
    margin-left:20px;

}
#ratingLogoContainer{
    display: flex;
    justify-content: space-between;
    width: 43%;
    margin: auto;
}
.imgCant{
  position: absolute;
  /* border: 2px solid red; */
}
.addItems{
    border:  1px solid #cecece;
    position: relative;
    top: -20px;
    left: 24px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: 90px;
    background-color: white;
    color: #60b246;
    /* display: none; */
}
#itemAdditionAndSubtraction{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    border:  1px solid #cecece;
    position: relative;
    display: none;
    top: -20px;
    left: 24px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: 90px;
    background-color: white;
    color: #60b246;
}
#itemAdditionAndSubtraction > button{
    background-color: white;
    border: none;
}
#itemAdditionAndSubtraction > p{
    padding-top: 7px;
}
#ratingLogoContainer>img{
 width: 14px;
 height: 14px;
 /* background-color: black; */
 /* filter: invert(100%); */
}
#offertext{
    padding-bottom: 20px;
    margin-right: 10px;
    
}

.offer{
    margin-top: 22px;
   margin-right: 200px;
   padding-left: 25px;
   padding-bottom: 0px;
    border: 2px solid white;
    margin-bottom: 100px;

    /* border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white; */

    transform: translateZ(0);
    transition: transform .2s ease-in-out; 
    /* border: 1px solid #bec0c8;    */
}
form{
    /* border: 2px solid red; */
    margin-bottom: 50px;
}
.offer>legend{
    color: white;
}

.offer > div > p{
    padding:0%;
  
}

#box1 {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    width: 40;
    /* margin: auto; */
}

#container{
    display: flex;
    width: 80%;
    min-height: 500px;
    margin: auto;
    margin-bottom: 100px;
    /* border: 2px solid red;   */
}
#leftContainer{
    direction: rtl;
    margin-top: 50px;
    width: 95%;
    list-style: none;
    /* border: 2px solid green; */
    /* border: 2px solid red; */
}
#leftContainer>li{
    margin-bottom: 10px;
    margin-right: 25px;
    /* border: 2px solid red; */
    width: 100%;
}
#leftContainer>li:hover{
    color:#fc8019;
}
#show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #cecece;
    width: 60%;
    /* border: 2px solid green; */

}

#rightContainer{
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    color:grey;
    border:1px solid red;
  
   
}
#show>div{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 150px;
    /* margin: auto; */
    padding-top: 50px;
    padding-bottom: 0%;
    border-bottom:2px solid #cecece;
   

}

.paraCant{
    /* border: 2px solid blue; */
    width: 80%;
}
.imageCant{
    width: 13%;
}
.paraCant > p{
    width: 100%;
    padding-top: 15px;
    /* border: 2px solid green; */
}


#show >div>div>img{
    height: 90%;
    /* border: 2px solid green; */
}
/* #show >div>div{
    height: 15vh;

} */
#rightContainer > img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}










#product-container{
    display: flex;
    gap: 20px;
    color: rgb(47, 46, 46);
}
#inc-dec-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#inc-btn,#dec-btn{
    background-color: transparent;
    border: 0px;
    padding: 20px;
    font-size: 25px;
}