/* navbar css start */

* {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    letter-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 300;
    color: #282c3f;
}

#entirePage {
    position: relative;
    padding-top: 80px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1240px;
}

header {
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

#headerContentContainer {
    display: flex;
    padding: 0px 20px;
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    align-items: center;
}

#headerContentContainer>a {
    display: block;
    height: 49px px;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    margin-right: 16px;
}

#currentLocation {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

#headerContainer>div {
    display: flex;
    align-items: center;
}

#headerContainer>div>div {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0;
}

#headerContainerRight {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

#headerContainerRight>li {
    margin-right: 60px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}

#headerContainerRight>li>a {
    text-decoration: none;
    color: #282c3f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#headerContainerRight>li>a:hover {
    color: #FC9036;
    font-size: 17px;
    fill: #FC9036;
}

#logo>img {
    height: 49px;
    width: 34px;
}

#search>a>img {
    height: 22px;
    width: 22px;
    margin-right: 7px;
}

#offer>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#help>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#signIn>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#profileImgIcon {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}
#noOfCartItems{
    /* border: 1px solid red; */
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100%;
    background-color: #60b246;
    color: white;
    font-weight: 600;
    margin-left: 5px;
    display: none;
}