* {
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    letter-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 300;
    color: #282c3f;
}

#entirePage {
    position: relative;
    padding-top: 80px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

header {
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

#headerContentContainer {
    display: flex;
    padding: 0px 20px;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    align-items: center;
}

#headerContentContainer>a {
    display: block;
    height: 49px;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    margin-right: 16px;
}

#currentLocation {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 25px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

#headerContainer>div {
    display: flex;
    align-items: center;
}

#headerContainer>div>div {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0;
}

#headerContainerRight {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

#headerContainerRight>li {
    margin-right: 5%;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}

#headerContainerRight>li>a {
    text-decoration: none;
    color: #282c3f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#headerContainerRight>li>a:hover {
    color: #FC9036;
    font-size: 17px;
    fill: #FC9036;
}

sup {
    color: #FC9036;
    vertical-align: super;
    font-size: small;
    text-align: start;
}

#logo>img {
    height: 49px;
    width: 34px;
}

#search>a>img {
    height: 22px;
    width: 22px;
    margin-right: 7px;
}

#offer>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#help>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#profileImgIcon {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#signIn>a>img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

#mainContent {
    height: 100%;
}

#recommendationPosters {
    padding: 0 20px;
    background-color: #171a29;
    position: relative;
    margin: 0 auto;
    height: 340px;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-right: 50px;
    margin-left: 50px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider>div {
    flex-shrink: 0;
    margin-right: 50px;
}

.slider>div>img:hover {
    transform: scale(1.05);
}

.slider>div>img {
    width: 260px;
    height: 260px;
    transition: transform .5s cubic-bezier(.215, .61, .355, 1);
    backface-visibility: visible;
    transform: translateZ(0);
}

#headingAndFilters {
    margin: 30px 60px;
    padding: 7px 3px;
    display: flex;
    border-bottom: 0.5px solid #c7c7ca;
    align-items: flex-end;
}

#noOfRestaurants {
    font-weight: 600;
    font-size: 28px;
    flex: 1;
}

#sortingAndFilters>button {
    padding-bottom: 0px;
    background-color: white;
    border-style: none;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    color: #686b78;
    margin-left: 23px;
    cursor: pointer;
}

#sortingAndFilters>button:hover {
    color: #3d4152;
}

#filters {
    font-weight: bold!important;
}

#filters:hover {
    color: #FC9036!important;
}

#iconFilter {
    height: 17px;
    width: 17px;
    height: 17px;
    width: 17px;
    border: 1px solid #EE5932;
    margin-left: 3px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: -5px;
}


/* -----------------------------Restaurant Tile ----------------------- */

#restaurantListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.restaurantCard {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 10px;
    border: 1px solid white;
    width: 254px;
}

.restaurantCard:hover {
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.restaurantCard:hover .quickViewDiv {
    visibility: visible;
}

.restaurantName {
    font-size: 17px;
    font-weight: bold;
    word-break: break-word;
    margin-bottom: 5px;
}

.restaurantCard>a>img {
    width: 100%;
    height: 160px;
}

.cuisine {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 0px;
    word-break: break-word;
    word-wrap: break-word;
}

.ratingDeliveryPriceBox {
    display: flex;
    align-items: flex-end;
    color: #535665;
    justify-content: space-between;
}

.ratingDeliveryPriceBox>p {
    font-size: 12px;
    margin-top: 0%;
}

.ratings {
    color: white;
}

.ratings>p {
    background-color: #48c479;
    font-size: 12px;
    margin-top: 0%;
    padding: 0px 5px;
}

.offerBox {
    display: flex;
    align-items: center;
    border-top: 0.3px solid #686b7885;
}

.offerBox>img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.offerDetails {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #363636;
    font-size: 14px;
}

.quickViewDiv {
    display: flex;
    width: 100%;
    justify-items: center;
    border-top: 0.3px solid #686b7885;
    visibility: hidden;
}

.quickViewDiv>button {
    border-style: none;
    color: #5d8ed5;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    width: 100%;
    padding-top: 15px;
}

.quickViewDiv>button:hover {
    color: gray;
}

#menuBox {
    display: none;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgb(40 44 63 / 20%);
    border: 1px solid #e9e9eb;
    transform: translateZ(0);
    animation: .3s ease;
    cursor: pointer;
    align-items: center;
    position: absolute;
    width: 170px;
    height: 310px;
}

.menuBoxContainer {
    position: relative;
    left: 100%;
    bottom: 20px;
}

.menuBox>h6 {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 7px 0px;
    font-weight: 400;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.menuCategoriesBox {
    margin-top: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: #313131;
    padding-bottom: 15px;
}

.menuCategoriesBox>h6 {
    margin: 0px 0px 5px 0px;
    font-weight: 400;
    color: #313131;
}

#filterModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#filterModalHead {
    position: fixed;
    display: flex;
    justify-items: baseline;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #88888870;
}

#filterModalHead>h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10%;
}

#filterModalContent {
    background-color: #fefefe;
    margin: 0% 0% 0% auto;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#filterOption {
    margin-top: 70px;
    margin-bottom: 60px;
}

#filterOption>input {
    margin: 10px 5px 8px 25px;
}

#filterOption>input[type="checkbox"]:active {
    background-color: #fc8019;
}

#filterOption>label:hover {
    font-weight: bold;
}

.close {
    color: rgb(0, 0, 0);
    float: left;
    font-size: 35px;
    margin-left: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filterSubmitBox {
    position: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30%;
    bottom: 0px;
    background-color: white;
    border-bottom: 1px solid #888888f8;
}

#filterSubmit {
    border-style: none;
    background-color: #FC9036;
    color: white!important;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    margin: 13px;
}


/* ---------------------Responsiveness----------------------- */

@media only screen and (max-width: 1276px) {
    #restaurantListContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media only screen and (max-width: 952px) {
    #restaurantListContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    #search {
        display: none;
    }
    #offer {
        display: none;
    }
    #help {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    #restaurantListContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    #signIn {
        display: none;
    }
}


/* ------------------Index css done ----------------------*/


/* ------------login and footer css start----------------- */

#loggedUpperDiv {
    margin: auto;
    margin-right: 0;
    display: none;
    position: relative;
    /* border: 1px solid red; */
}

#loggedUser {
    border: .1px solid rgba(128, 128, 128, 0.204);
    border-radius: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    /* height: 45px; */
    margin: auto;
    /* margin-right: 0; */
    /* align-items: center; */
    /* display: none; */
}

#loggedUser>div {
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    /* text-align: center; */
    align-items: center;
}

#loggedUser>div>button {
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: inherit;
    display: inline;
    text-align: center;
    /* border: 1px solid red; */
}

#loggedUser>div>button:hover,
#loggedUser>div:hover {
    cursor: pointer;
    /* color: #FC8019; */
}

#loggedUser>div>img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    /* border-radius: 100px; */
    /* border: 1px solid blue; */
}

.navBtn {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    border: none;
    background-color: white;
    font-size: 16px;
    color: #282c3f;
}

#signupBtn {
    cursor: pointer;
}

.navBtn:hover {
    cursor: pointer;
}

#loginBtn:hover {
    color: #FC8019;
}

#randomTextHeading {
    font-size: 40px;
    font-weight: 600;
    /* padding-top: 100px; */
    margin-top: 80px;
    /* border: 1px solid red; */
    color: #282c3f;
    margin-bottom: 1%;
    transform: 1s;
    /* -webkit-font-smoothing : antialiased; */
}

#supporterTextHeading {
    color: #686b78;
    font-size: 24px;
    font-weight: 300;
    margin: 0%;
}

#searchBox {
    display: flex;
    width: 608px;
    margin-top: 40px;
    height: 58px;
    /* border: 1px solid red; */
}

#searchBar {
    font-size: 18px !important;
    font-weight: 500;
    width: 468px;
    border: none;
    outline: none;
    border: 1px solid #bebfc5;
    caret-color: #FC8019;
    padding-left: 15px;
    font-family: arial, Helvetica Neue, sans-serif;
    /* caret-color: #FC8019; */
}

#searchBar:focus {
    border: 1px solid #FC8019;
}

#searchBtn {
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FC8019;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    outline: none;
}

#searchBtn:hover {
    cursor: pointer;
}

#popularCitiesHeading {
    font-size: 15px;
    color: #A9ABB2;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}

#popularCitiesList {
    list-style-type: none;
    display: block;
    width: 570px;
    font-weight: 300;
    color: #282c3f;
    font-size: 14px;
    padding: 0;
    margin-top: 0%;
}

#popularCitiesList>li {
    float: left;
}

#popularCitiesList>li>a {
    font-size: 15px;
    font-weight: 600;
    color: #686b78;
    text-decoration: none;
    margin-right: 8px;
}

#popularCitiesList>li:nth-child(even)>a {
    color: #93959F;
}

#secondBox {
    height: 403px;
    width: 100%;
    background-color: #2b1e16;
}

#secondBoxInnerDiv {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.secondBoxInnerDivGridBox {
    width: 260px;
    height: 323px;
    /* border: 1px solid white; */
    margin: auto;
    text-align: center;
    color: #fff;
}

#secondBoxImage1 {
    width: 105px;
    margin-bottom: 42px;
    height: 200px;
}

#secondBoxImage2 {
    margin-bottom: 42px;
    width: 112px;
    height: 200px;
}

#secondBoxImage3 {
    margin-bottom: 42px;
    width: 124px;
    height: 200px;
}

.secondBoxHeading {
    font-size: 20px;
    font-weight: 600;
}

.secondBoxPara {
    font-size: 15px;
    margin-top: 10px;
}

#thirdBox {
    height: 570px;
    border: 1px solid rgba(245, 245, 245, 0);
    position: relative;
    /* align-items: center; */
}

#thirdBoxInnerDiv {
    display: flex;
    flex-direction: column;
    margin: 155px 125px;
    /* margin: auto; */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* justify-content: center; */
    /* position: relative; */
}

#thirdBoxInnerDivHeading {
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    display: block;
    color: #282c3f;
}

#thirdBoxInnerDivPara {
    font-size: 20px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    display: block;
    /* margin: auto; */
}

#mobileImage1 {
    top: 0;
    right: 430px;
    position: absolute;
}

#mobileImage2 {
    position: absolute;
    bottom: 0;
    right: 80px;
    /* right: 70px; */
    /* left: 10px; */
    /* top: 10; */
    /* bottom: -315px; */
}

#logoutDropDown {
    text-align: center;
    padding: 5px;
    /* border: 1px solid red; */
    position: absolute;
    margin: auto;
    width: 94%;
    right: -1px;
    border-top: 1.5px solid #FC8019;
    /* margin-top: 5px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

#logoutDropDown>button:hover {
    cursor: pointer;
    border: .1px solid rgba(128, 128, 128, 0.151);
    border-radius: 10px;
    /* border: 1px solid red; */
}

#logoutDropDown>button {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: inherit;
    border: .1px solid rgba(128, 128, 128, 0.075);
    border-radius: 10px;
    /* border: 1px solid red;  */
}
#noOfCartItems{
    /* border: 1px solid red; */
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100%;
    background-color: #60b246;
    color: white;
    font-weight: 600;
    margin-left: 5px;
    display: none;
}